.max-height {
  max-height: 100px;
}

.centered {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.d-margin {
  margin: 10px;
}